streamlit
torch
torchvision
openai
git+https://github.com/openai/whisper.git
imageio-ffmpeg
opencv-python-headless
Pillow
transformers
fastapi
uvicorn
python-dotenv
faster-whisper
ffmpeg-python
python-multipart
